@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 class="display-4">file1.jpg</h1>
    <p>
        <img src="~/files/file1.jpg?size=original" alt="file1.jpg (original size)" title="file1.jpg (original size)" />
    </p>
    <p>
        <img src="~/files/file1.jpg?size=large" alt="file1.jpg (large size)" title="file1.jpg (large size)" />
    </p>
    <p>
        <img src="~/files/file1.jpg?size=medium" alt="file1.jpg (medium size)" title="file1.jpg (medium size)" />
    </p>
    <p>
        <img src="~/files/file1.jpg?size=small" alt="file1.jpg (small size)" title="file1.jpg (small size)" />
    </p>
</div>
